<h1>Cocktails</h1>

<ul style="text-decoration: none">
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<%= link_to '+ Add a cocktail', new_cocktail_path, class: "btn btn-success" %>
